
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Auto Brew for kurig">
    <meta name="author" content="Dustin Johnson">

    <title>AUTOKURIG</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../static/css/agency.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">AutoKurig.local</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#me">Brew</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#Brew">Brew</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Employment</a>
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link js-scroll-trigger" href="#contact">Contact</a> -->
              <!-- <a class="nav-link js-scroll-trigger" href="mailto:eventuallyiwin@gmail.com">Contact</a> -->
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Ready for a Fresh cup of coffee</div>
          <div class="intro-heading text-uppercase">Hands Free?!?</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#me">omg YES!</a>
        </div>
      </div>
    </header>

    <!-- me -->
    <section class="bg-light" id="me">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Meet Dustin</h2>
            <h3 class="section-subheading text-muted">Just the right blend of Geekiness and Fun</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="../static/img/team/profile3.bin" alt="">
              <h4>Dustin Johnson</h4>
              <p class="text-muted">Wireless Network Engineer</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://twitter.com/WiFiDoneRight">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/johnsondustinr/">
                    <i class="fa fa-linkedin"></i>
                  </a>
              </li>
                <li class="list-inline-item">
                  <a href="http://youtube.com/c/DustinJohnson1">
                    <i class="fa fa-youtube"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">Hi. Thanks for visiting. let me interest you in some info about myself. I grew up most my life in a little town in arkansas and learned my trade from my dad who I swear looks just like me. ok, and a lot of college and experience. My mantra is plan for the worst and hope for the best. With this golden nugget I have avoided some pretty nasty issues. </br> Welcome and I hope you find all the information that you need. I'm just a click away.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Brew -->
    <section id="Brew">
      <div class="container">
        <div class="row hidden">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Brew</h2>
            <h3 class="section-subheading text-muted">Need some Java</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-frown fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Small</h4>
            <p class="text-muted">Just a sip, but much stronger</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-smile-beam fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Medium</h4>
            <p class="text-muted">Good for the weak cups.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-flushed fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Large</h4>
            <p class="text-muted">Full cup o Joe.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Grid -->
    <!-- <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Portfolio</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="../static/img/portfolio/01-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Threads</h4>
              <p class="text-muted">Illustration</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="../static/img/portfolio/02-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Explore</h4>
              <p class="text-muted">Graphic Design</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="../static/img/portfolio/03-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Finish</h4>
              <p class="text-muted">Identity</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="../static/img/portfolio/04-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Lines</h4>
              <p class="text-muted">Branding</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="../static/img/portfolio/05-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Southwest</h4>
              <p class="text-muted">Website Design</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="../static/img/portfolio/06-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Window</h4>
              <p class="text-muted">Photography</p>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- About
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Employment</h2>
            <h3 class="section-subheading text-muted">Welcome to my career as a Techy Guru</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="../static/img/logos/wml.png" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5 class="subheading">Oct 2016 - Present</h5>
                    <h4>Walmart Labs</h4>
                    <h5 class="subheading">Wireless Network Engineer</h5>
                  </div>
                  <div class="timeline-body">
                    <ul class="text-muted">
                    <li>Manage wireless infrastructure in the Walmart stores and Distribution centers.</li>
                    <li>Manage vendors and pilot new WiFi products</li>
                    <li >Troubleshoot wireless issues</li>
                    <li >Coordinate new WiFi installation in warehouses.</li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="img-fluid" style="padding-top:25%" src="../static/img/logos/flippin.png" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5 class="subheading">Aug 2013 - Oct 2016</h5>
                    <h4>Flippin Public Schools</h4>
                    <h5 class="subheading">Technology Coordinator</h5>
                  </div>
                  <div class="timeline-body">
                    <ul class="text-muted"dir="rtl">
                    <li class="text-muted">Project and Budget management</li>
                    <li>Enterasys wired and wireless network</li>
                    <li>Aerohive wireless</li>
                    <li>Filewave mobile device management (MDM)</li>
                    <li>Apple products(MacBook, iPad,iPhone etc.) support and management</li>
                    <li>Weekly technology training for teachers</li>
                    <li>1:1 iPad implementation</li>
                    <li>Centralized printing</li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div>
                  <img class="img-fluid timeline-image" src="../static/img/logos/mh.png" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5 class="subheading">Sept 2011 - Aug 2013</h5>
                    <h4>Mountain Home Public Schools</h4>
                    <h5 class="subheading">Network Systems Administrator</h5>
                  </div>
                  <div class="timeline-body">
                    <ul class="text-muted">
                    <li>Proposal and Project management</li>
                      <li>Promote Student involvement</li>
                      <li>Microsoft System Center Configuration Manager (SCCM) server setup, and implementation.</li>
                      <li>Training and Preventative maintenance for Administration and Faculty.</li>
                      <li>Setup, Install, and Maintain Windows 2003, 2008, and 2012 Servers. </li>
                      <li>Update domain controllers from Server 2003 to Server 2012</li>
                      <li>Implemented HyperV virtualization. </li>
                      <li>Adjust the IP address schema to provide future proofing of addressing.</li>
                      <li>Implement Windows Print Server</li>
                      <li>Manage the Disaster recovery plan (Backups, Worst case scenario preparation.)</li>
                      <li>Wireless and Ethernet network design, setup, troubleshooting, and repair</li>
                      </ul>
                  </div>
                </div>
              </li>
              <li>
                <div>
                  <img class="img-fluid timeline-image" src="../static/img/logos/mh.png" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5 class="subheading">Sept 2008 - Sept 2011</h5>
                    <h4>Mountain Home Public Schools</h4>
                    <h5 class="subheading">Computer Technician</h5>
                  </div>
                  <div class="timeline-body">
                    <ul class="text-muted" dir="rtl">
                      <li>Implementation, management, and repair of Windows based domain desktops, laptops, and thin clients</li>
                      <li>Server setup, maintenance, and repair</li>
                      <li>Basic dos/batch scripting</li>
                      <li>Audio/visual setup, maintenance, and repair</li>
                      <li>Ethernet network setup, troubleshooting, and repair.</li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="img-fluid" style="padding-top:25%" src="../static/img/logos/flippin.png" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5 class="subheading">Oct 2006 - Sep 2008</h5>
                    <h4>Flippin Public Schools</h4>
                    <h5 class="subheading">Tech Assistant</h5>
                  </div>
                  <div class="timeline-body">
                    <ul class="text-muted">
                      <li>Novell network troubleshooting</li>
                      <li>Implementation, management, and repair of desktops and laptops</li>
                      <li>Software installation</li>
                      <li>Audio/visual setup, maintenance, and repair</li>
                      <li>Ethernet network setup, troubleshooting, and repair</li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section> -->

    <!-- Clients -->
    <!-- <section class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="../static/img/logos/envato.jpg" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="../static/img/logos/designmodo.jpg" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="../static/img/logos/themeforest.jpg" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="../static/img/logos/creative-market.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </section> -->


    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">AutoKurig.local&copy; 2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://twitter.com/WiFiDoneRight">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/johnsondustinr/">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="http://youtube.com/c/DustinJohnson1">
                  <i class="fa fa-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a class="text-muted" href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a class="text-muted" href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

   
    <!-- Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="../static/img/portfolio/06-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Window</li>
                    <li>Category: Photography</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/agency.min.js"></script>

  </body>

</html>
